<div id="pageTitle">
  <div id="pageMainTitle">Events</div>
  <div id="pageSubTitle">Gain skills, experience, insights, exposure, network & perspectives!</div>
<!--	</div>  -->
</div>
</div>

<div id="contentWrapper">

  <%= load_events.html_safe %>

</div>
